*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#f5f7fb;
  padding:60px 20px;
}

.container{

  max-width:1200px;

  margin:auto;

  background:#fff;

  padding:60px;

  border-radius:25px;

  box-shadow:0 10px 35px rgba(0,0,0,0.08);
}

.container h1{

  text-align:center;

  font-size:60px;

  color:#071739;

  margin-bottom:15px;
}

.subtitle{

  text-align:center;

  font-size:18px;

  color:#666;

  margin-bottom:40px;
}

/* TRACKING ID */

.tracking-id{

  background:#071739;

  color:white;

  width:fit-content;

  margin:0 auto 40px;

  padding:15px 35px;

  border-radius:40px;

  font-size:18px;

  font-weight:600;
}

.tracking-id span{

  color:#f2af05;
}

/* STATUS */

.status-box{

  text-align:center;

  margin-bottom:60px;
}

.status-box h2{

  color:#071739;

  font-size:34px;

  margin-bottom:10px;
}

.status-box p{

  color:#f2af05;

  font-size:28px;

  font-weight:700;
}

/* TIMELINE */

.timeline{

  display:flex;

  align-items:center;

  justify-content:center;

  flex-wrap:wrap;

  gap:15px;

  margin-bottom:70px;
}

.step{

  text-align:center;
}

.circle{

  width:80px;
  height:80px;

  border-radius:50%;

  background:#e5e5e5;

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:28px;

  font-weight:700;

  color:#555;

  margin:auto auto 15px;
}

.step h3{

  font-size:18px;

  color:#071739;
}

.step.active .circle{

  background:#f2af05;

  color:#111;
}

.line{

  width:100px;

  height:6px;

  background:#ddd;

  border-radius:10px;
}

.active-line{

  background:#f2af05;
}

/* DETAILS */

.details{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:25px;
}

.detail-card{

  background:#f8f9fc;

  padding:35px;

  border-radius:20px;

  text-align:center;

  border-left:6px solid #f2af05;
}

.detail-card h4{

  color:#071739;

  font-size:24px;

  margin-bottom:15px;
}

.detail-card p{

  color:#555;

  font-size:18px;

  line-height:1.7;
}

/* RESPONSIVE */

@media(max-width:768px){

  .container{

    padding:40px 25px;
  }

  .container h1{

    font-size:40px;
  }

  .timeline{

    flex-direction:column;
  }

  .line{

    width:6px;

    height:60px;
  }
}
.result-box{
  display:none;
}
/* SEARCH BOX */

.search-box{

  width:100%;

  max-width:700px;

  margin:40px auto;

  display:flex;

  justify-content:center;

  align-items:center;

  gap:20px;
}

/* INPUT */

.search-box input{

  flex:1;

  height:70px;

  border:none;

  outline:none;

  background:#f5f7fb;

  border:2px solid #dfe3eb;

  border-radius:18px;

  padding:0 25px;

  font-size:20px;

  color:#071739;

  transition:0.3s;

  box-shadow:
  0 5px 15px rgba(0,0,0,0.05);
}

.search-box input:focus{

  border-color:#f2af05;

  box-shadow:
  0 8px 20px rgba(242,175,5,0.25);
}

/* BUTTON */

.search-box button{

  height:70px;

  padding:0 40px;

  border:none;

  border-radius:18px;

  background:#f2af05;

  color:#111;

  font-size:18px;

  font-weight:700;

  cursor:pointer;

  transition:0.3s;

  box-shadow:
  0 8px 20px rgba(242,175,5,0.25);
}

.search-box button:hover{

  background:#ffca28;

  transform:translateY(-3px);
}

/* MOBILE */

@media(max-width:768px){

  .search-box{

    flex-direction:column;
  }

  .search-box input{

    width:100%;
  }

  .search-box button{

    width:100%;
  }
}