*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#f5f7fb;
}

.container{
  width:90%;
  max-width:900px;
  margin:80px auto;
  background:#fff;
  padding:50px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

h1{
  text-align:center;
  margin-bottom:40px;
  font-size:45px;
}

table{
  width:100%;
  border-collapse:collapse;
}

table th,
table td{
  padding:18px;
  border:1px solid #ddd;
  text-align:center;
}

table th{
  background:#0d1b2a;
  color:#fff;
}